.current_weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  grid-area: current;
}

@media (min-width: 1000px) {
  .current_weather-container {
    padding: 0 80px;
  }
}

@media (min-width: 1400px) {
  .current_weather-container {
    padding: 0 300px;
  }
}

.current_weather-container .current_weather-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.current_weather-container .current_weather-head-left {
  width: 100px;
}

.current_weather-container .current_weather-head-left .current_weather-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
}

.current_weather-container .current_weather-head-left .current_weather-location span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.current_weather-container .current_weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current_weather-container .current_weather-time-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current_weather-container .current_weather-time {
  margin-bottom: 10px;
  font-weight: 500;
}

.current_weather-container .current_weather-temp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.current_weather-container .current_weather-temp-wrapper span:nth-child(2) {
  font-size: 0.8rem;
  margin-left: 1px;
}

.current_weather-container .current_weather-temp-wrapper p {
  margin-left: 10px;
  font-weight: 500;
}
/*# sourceMappingURL=CurrentWeather.style.css.map */