.five_days-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-self: start;
  padding: 0 10px;
  grid-area: fiveDays;

  @media (min-width: 900px) {
    padding: 0 60px;
  }
  @media (min-width: 1140px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
  @media (min-width: 1400px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
